.linkContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.link {
  border-radius: 10px;
  padding: 10px 0;
  background-color: #b6c99b;
  /* margin: 0 auto; */
  box-sizing: border-box;
  width: 50%;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #e7f5dc;
  text-decoration: none;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;

  margin-top: 60px;
  position: relative;
  z-index: 1;
}

@media (min-width: 784px) {
  .container {
    margin-top: 20px;
  }
}
