.img {
  width: 30px;
  background-color: #fff;
  padding: 5px;
  border-radius: 100%;
}

.font {
  font-size: 20px;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #728156;
  /* transition: 0.5s; */
}
